<% provide(:title, @event.name) %>

<style type="text/css">
@import "css/jquery.countdown.css";

body > iframe { display: none; }

#defaultCountdown { width: 240px; height: 45px; }
</style>

<script>
$(function () {
  var austDay = new Date();
  austDay = new Date(austDay.getFullYear() + 1, 1 - 1, 26);
  $('#defaultCountdown').countdown({until: austDay});
  $('#year').text(austDay.getFullYear());
});
</script>

<div class="row center">

  <h1><%= @event.name %></h1>
  <h2> An event by <%= @event.user.name%> Inlieu of <%= @event.inlieuof %> for <%= @event.charity_name%> </h2>

    <% if @event.video %>
      <div>
        <%= @event.video.html_safe %>
    </div>
    <% end %>
</div>

<div class="row center">
  <p> Money Raised: <%=@event.money_raised%> GOAL: <%=@event.goal_money%> </p>
  <p> EndTime: <%= @event.enddate %> Time left: <%= @event.get_time_left() %> seconds left </p>
</div>

<div class="row center">
  <p> <%=@event.description%> </p>
  <% if (@event.is_active) %>
    <p> <%=link_to 'DONATE NOW', new_event_payment_path(@event.id) %> </p> 
    <% else %>
      <p> Funding for this event has now ended </p>
    <% end %>
</div>

<div id="defaultCountdown"></div>