<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Welcome to inlieugiving, <%= @user.name %></h1>
    <p>
      You have successfully signed up to inlieugiving, now go and make an event and help a charity! You can do it!
      your username is: <%= @user.email %>.<br/>
    </p>
    <p>
      To login to the site, just follow this link: <%= link_to 'Your Profile Page', user_path(@user.id) %> <%= link_to "users", user_path(1) %>
      <%= user_url(@user.id) %>  
    </p>
    <p>
      <%= edit_confirmation_url(@user.confirm_token) %>
    </p>
    <p>Thanks for joining and have a great day!</p>


  </body>
</html>