<% provide(:title, @user.name) %>

<% if (@user.admin) %>
  <p> You are Admin </p>
  <p> <%= link_to 'Admin Dashboard', admin_path %>

<% end %>

<% if (@user.confirmed) %>
  <p> You are confirmed </p>
  <% else %>
  <p> you are not yet confirmed </p>
<% end %>

<div class="row center">
  <h1>Your InLieu Profile</h1>
</div>

<div class="row">
    <section>
      <ul>
        <li>
          Your Name: <%= @user.name %>
        </li>
        <li>
          Your Email: <%= @user.email %>
        </li>
      </ul>
    </section>
</div>

<h4> <%= link_to 'Make a new event!!', new_event_path %> </h4>

<div class="bs-docs-example tabs-top">
  <ul id="myTab" class="nav nav-tabs">
    <li class="active"><a href="#pending" data-toggle="tab">Pending</a></li>
    <li><a href="#active" data-toggle="tab">Active</a></li>
    <li><a href="#rejected" data-toggle="tab">Rejected</a></li>
    <li><a href="#past" data-toggle="tab">Past</a></li>
  </ul>


  <div id="myTabContent" class="tab-content">
    <div class="tab-pane fade" id="active">
      <%= render :partial => "table", :locals => { :events => @user.events.where("enddate > ? AND approved = ?", DateTime.now.utc, true) } %>
    </div>
    <div class="tab-pane fade in active" id="pending">
      <%= render :partial => "table", :locals => { :events => @user.events.where("enddate > ? AND approved = ?", DateTime.now.utc, false) } %>
    </div>
    <div class="tab-pane fade" id="rejected">
      <%= render :partial => "table", :locals => { :events => @user.events.where("enddate < ?", DateTime.now.utc) } %>
    </div>
    <div class="tab-pane fade" id="past">
      <%= render :partial => "table", :locals => { :events => @user.events.where("rejected = ?", true) } %>
    </div>
  </div>
</div>