<% provide(:title, @user.name) %>

<div class="row center">
  <h1>Your InLieu Profile</h1>
</div>

<div class="row">
    <section>
      <ul>
        <li>
          Your Name: <%= @user.name %>
        </li>
        <li>
          Your Email: <%= @user.email %>
        </li>
      </ul>
    </section>
</div>

<div class="row table">

<table>
  <tr>
    <th>Your Events</th>
    <th>Money Raised</th>
    <th>Goal Money</th>
    <th></th>
    <th></th>
  </tr>

  
<% @user.events.each do |event| %>
  <tr>
  <td> <%= link_to event.name, event %> </td>
  <td> <%= event.money_raised %> </td>
  <td> <%= event.goal_money %> </td>
  </tr>
<% end %>

  <td> <%= link_to 'Make a new event!!', new_event_path %> </td>
  </tr>

</table>

</div>