<div class="event" id="<%= event.id %>">
  <div class="front">
    <%= link_to event, class: 'pic-link' do %>
      <%= image_tag event.avatar.url(:square) %>
    <% end %>
  </div>

  <div class="back">
    <span class="event-name pic-link"><%= event.name %></span>
    <p> chairty:<%= event.charity_name %></p>
    <p> money raised:<%= number_to_currency(event.money_raised/100) %></p>
    <p> goal:<%= number_to_currency(event.goal_money/100) %></p>
    <div class="actions">
      <%= link_to 'Show', event %>
    </div>
  </div>
</div>