<div class="container-fluid row-fluid">
  
  <div class="span6 row center">
    <%= form_for(@event) do |f| %>
      <%= render 'shared/event_error_messages' %>

      <%= f.label :name %>
      <%= f.text_field :name, :required => true, :placeholder => "Jane Doe", :minlength => 2 %>

      <%= f.label :description %>
      <%= f.text_area :description, :required => true, :placeholder => "Best Event Description Ever", :minlength => 2, :maxlength => 500 %>
  </div>

  <div class="span6 row left ">

      <%= f.label :occasion? %>
      <%= f.text_field :inlieuof, :required => true, :placeholder => "My Birthday", :minlength => 2 %>

      <%= f.label :goal_money %>
      <%= f.text_field :goal_money %>
      
      <%= f.label :charity_name %>
      <%= f.text_field :charity_name, :required => true, :placeholder => "Jane Doe", :minlength => 2 %>

      <div class="field">
        <%= f.label :picture %>
        <%= f.file_field :avatar %>
      </div>

      <%= f.submit "Submit my event", class: "btn btn-large btn-primary" %>
    <% end %>
  
  </div>

</div>