<h1> Events Index </h1>
<div class="row table">
<table>
  <tr>
    <th>Name</th>
    <th>Money</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @events.each do |event| %>
  <tr>
  <td> <%= link_to event.name, event %> </td>
	<td> <%= event.name %> </td>
	<td> <%= event.money_raised %> </td>
<!-- 	<td> <%= link_to 'Destroy', event, html_options = {:method => :delete} %> </td> -->
  </tr>
<% end %>

  <tr>
  <td> <%= link_to 'Make a new event!!', new_event_path %> </td>
  </tr>

</table>

</div>