<h1 class="orange">Make a new event and raise money!</h1>

<% provide(:title, 'New Event') %>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@event) do |f| %>
      <%= render 'shared/event_error_messages' %>

      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :description %>
      <%= f.text_field :description %>

      <%= f.label :inlieuof %>
      <%= f.text_field :inlieuof %>

      <%= f.label :goal_money %>
      <%= f.text_field :goal_money %>
      
      <%= f.label :charity_name %>
      <%= f.text_field :charity_name %>

      <%= f.label :video_embed_link %>
      <%= f.text_field :video %>

      <%= f.submit "Create my event", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>