<% provide(:title, @event.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <ul>
        <li>
          <%= @event.name %>
        </li>
        <li>
          <%= @event.user.name %>
        </li>
        <li>
          <%= @event.description %>
        </li>
        <li>
          Charity: <%= @event.charity_name %>
        </li>
        <li>
          Inlieu of: <%= @event.inlieuof %>
        </li>
        <li>
          Money Raised: <%= @event.money_raised %>
        </li>
        <li>
          Goal: <%= @event.goal_money %>
        </li>
        <li>
          EndTime: <%= @event.enddate %>
        </li>
        <li>
          Time left: <%= @event.get_time_left() %> seconds left
        </li>
        <li>
          <%= link_to 'Give Me Money', new_event_payment_path(@event.id) %>
        </li>
      </ul>
    </section>
  </aside>
</div>