<% provide(:title, @event.name) %>

<div class="container-narrow title">
  <h1><%= @event.name %></h1>
</div>

<div class="container-fluid">
  <div class="row-fluid">
    
    <div class="span6">

      <div class="picture row center">
        <%= image_tag @event.avatar.url(:medium) %>
      </div>
    
    </div>


    <div class="span6">

      <div class = "description row center">
        <h3> <strong>An event by <%= @event.user.name%> Inlieu of <%= @event.inlieuof %> for <%= @event.charity_name%></strong> </h3>

        <% if (@event.is_active) %>
          <div class = "row offset3" id="defaultCountdown"></div>
          <p> <%=link_to 'DONATE NOW', new_event_payment_path(@event.id) %> </p> 
          <% else %>
            <p> This event is not yet approved by our admin. Check back soon! </p>
        <% end %>

        <p> <strong>Money Raised:</strong> <%=number_to_currency(@event.money_raised/100)%> <strong>GOAL:</strong> <%=number_to_currency(@event.goal_money/100)%> </p>
        <p> <strong>Charity:</strong> <%= @event.charity_name%> <strong>Occasion:</strong>  <%= @event.inlieuof %> </p>
      </div>

      <div class="row center">
        <p> <%=@event.description%> </p>


        
        <p> <%=link_to "See who's donated already", event_payments_path(@event.id) %></p>
      </div>

    </div>

  </div>

</div>







<div class="container-narrow social-media">
</div>

<div class="container-narrow contributors">
</div>


<style type="text/css">
body > iframe {  }
#defaultCountdown { width: 240px; height: 45px;}
</style>

<script>
$(function () {
  //var austDay = new Date();
  //austDay = new Date(austDay.getFullYear() + 1, 1 - 1, 26);
  //austDay = new Date()
  var date = new Date(<%= @event.enddate.utc.to_i*1000 %>);
  $('#defaultCountdown').countdown({until: date});
  $('#year').text(date.getFullYear());

});
</script>