<% provide(:title, @event.name) %>

<style type="text/css">

body > iframe { display: none; }

#defaultCountdown { width: 240px; height: 45px; float: center;}
</style>

<script>
$(function () {
  //var austDay = new Date();
  //austDay = new Date(austDay.getFullYear() + 1, 1 - 1, 26);
  //austDay = new Date()
  var date = new Date(<%= @event.enddate.utc.to_i*1000 %>);
  $('#defaultCountdown').countdown({until: date});
  $('#year').text(date.getFullYear());

});
</script>

<div class="row center">

  <h1><%= @event.name %></h1>
  <h2> An event by <%= @event.user.name%> Inlieu of <%= @event.inlieuof %> for <%= @event.charity_name%> </h2>

    <% if @event.video %>
      <div>
        <%= @event.video.html_safe %>
    </div>
    <% end %>
</div>

<div class="row center picture">
  <%= image_tag @event.avatar.url(:medium) %>
</div>

<p></p>

<div class="row center picture">
  <p>Time Remaining</p>
</div>


<div class="container">
  <div class="row" id="login-container">
    <div class="span8 offset4">
       <div id="defaultCountdown" style = ></div>
    </div>
  </div>
</div>

<div class = "row center countdown">
<div id="defaultCountdown" style = ></div>
</div>

<div class="row center">
  <p> Money Raised: <%=number_to_currency(@event.money_raised/100)%> GOAL: <%=number_to_currency(@event.goal_money/100)%> </p>
</div>

<div class="row center">
  <p> <%=@event.description%> </p>
  <% if (@event.is_active) %>
    <p> <%=link_to 'DONATE NOW', new_event_payment_path(@event.id) %> </p> 
    <% else %>
      <p> Funding for this event is not currently available </p>
    <% end %>
  <p> <%=link_to "See who's donated already", event_payments_path(@event.id) %></p>
</div>