<h1> <%= @payments.first.event.name %> Donations </h1>

<div class="row table">
<table>
  <tr>
    <th>Donation</th>
    <th>Donor</th>
    <th>Email</th>
    <th>Event</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @payments.each do |payment| %>
  <tr>
  <td> <%= number_to_currency(payment.money_raised/100) %> </td>
  <td> <%= payment.name %> </td>
  <td> <%= payment.email %> </td>
  <td> <%= payment.event.name %> </td>
  </tr>
<% end %>

</table>
</div>

<%= link_to 'back to event', event_path(@payments.first.event.id) %>